@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "YClover-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "YClover";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

.navbar {
  @apply flex justify-between items-center fixed w-full h-[60px] top-0 shadow-sm bg-white z-[100];
}
.navbar__logo {
  @apply text-green-800 text-lg font-semibold cursor-pointer px-[30px] py-0 font-['YClover-Bold'];
}
.navbar__list {
  @apply flex px-[30px] py-0 items-center gap-10;
}

.navbar__list--item {
  @apply cursor-pointer hover:text-green-500 font-['YClover-Bold'];
}

.navbar__button {
  @apply hidden cursor-pointer;
}

@media only screen and (max-width: 600px) {
  .navbar--mobile {
    @apply fixed w-full text-white h-screen top-[52px] bg-green-900;
  }
  .navbar__button {
    @apply block px-[18px] py-0;
  }
  .navbar__list {
    @apply hidden;
  }
  .navbar__list--item--mobile {
    @apply cursor-pointer font-['YClover-Bold'];
  }
  .navbar__list--item--mobile:hover {
    @apply text-green-400;
  }
  .navbar__list--mobile {
    @apply flex flex-col gap-4 items-start px-[18px] py-[24px];
  }
}

.layout {
  @apply pt-[60px] font-['YClover'];
}

.infoWindow {
  @apply bg-green-800 text-white block text-sm font-bold text-center h-6 rounded-md px-2 leading-6;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
